body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

.top-background{
  background-color: #3F1D4D;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23815A8F'/%3E%3Cstop offset='1' stop-color='%233F1D4D'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23603c6e'/%3E%3Cstop offset='1' stop-color='%233F1D4D'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-21.6 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.46' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  font-family: 'Pacifico', cursive;
}

main{
  width: 85%;
  margin-top: -130px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 15px 15px #000000;
}
/* Barra de navegacion */

.navbar {
  padding: 3rem;
  background-color: #75518d;
  padding: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.nav-item a{
  color: #ffffff;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
  color: white;
  background-color: #161f43;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Lemon', serif;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {

  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 0 6rem;
  margin: 0;
}

.navbar-brand {
  width: 400px;
  height: 500px;
  margin: 0;
}

.hero-principal h1 {
  font-size: 2.7rem;
  color: #3F1D4D;
}

.hero-principal h2 {
  margin-top: 30px;
  font-size: 1.6rem;
  color: #fcfcfc;
}
/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi p{
  line-height: 1.8em;
  font-size: 20px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
  height: 800px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: #273a46b6;
  background-color: #8DAEC3;
}

.experiencia i {
  font-size: 2.5rem;
  color: #2a6e99;
  background-color: none;
  padding: 8px 19px;
  border: dotted ;
  border-radius: 50%;
  border-color: #2a6e99;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
  background-color: #314ec4;
}

/* Proyectos */

.proyectos-recientes {
  padding: 100px 30px;
  height: 1600px;
  background-color: #81749c57;
  display: flex;
  justify-content: flex-start;
}
 
.proyecto img {
  height: 300px;
  padding: 0;
  margin-bottom: 30px;
  margin-left: -15%;
  transition: all 0.2s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.562);
}

.p1{
  width: 95%;
}

.p2{
  width: 85%;
}

.p3{
  width: 75%;
}


.proyectos-contenedor {
  width: 85vw;
  margin-top: 200px;
  margin-bottom: 400px;
  padding: 0;
  height: 700px;
  background-color: #4d3e6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyecto-more{
  width: 40%;
  margin-bottom: 20px;
  padding: 30px 0;
  position: relative;
  top: -55%;
  left: 55%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.562);
}

.proyecto-more p {
  font-size: 20px;
  padding: 20px;
  
}

.proyecto-more h3{
  font-weight: bold;
}

.proyecto {
  position: relative;
  top: 80%;
  width: 50vw; 
  margin: 0;
}


.proyecto:hover img {
  transform: translateX(40px);
}

.proyecto:hover .overlay {
  opacity: 1;
}

.proyecto-more .iconos-contenedor {
  display: flex;
}

.proyecto-more i {
  color: rgb(255, 255, 255);
  font-size: 60px;
  margin: 10px;
}

/* Testimonios */

.testimonios {
  padding: 100px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 25px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.carousel i{
  color: rgb(9, 43, 116);
  font-size: 60px;
  margin: 20px;
}



/* Contacto */
.contacto{
  height: 200px;
  margin-top: 20rem;
}
.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -8rem;
  background-color: #7abfc2;
  border-radius: 10px;
  box-shadow: 0px 1px 6px 1px white;
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}



/* Pie de pagina (footer) */

footer {
  min-height: 400px;
  width: 100vw;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}


@keyframes flotar {
  to {
    margin-top: 15vh;
  }
}

.burbujas div {
  background-image: url(/imagenes/burbuja.png);
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center center;
  border-radius: 100%;
  position: absolute;
  bottom: 350px;
  animation: animarburbujas 2s linear infinite;
}

.burbujas div:nth-child(1) {
  width: 50px;
  height: 45px;
  left: 40px;
  animation-duration: 4s;
}

.burbujas div:nth-child(2) {
  width: 60px;
  height: 55px;
  left: 25%;
  animation-duration: 8s;
}

.burbujas div:nth-child(3) {
  width: 30px;
  height: 27px;
  left: 40%;
  animation-duration: 5s;
}

.burbujas div:nth-child(4) {
  width: 65px;
  height: 60px;
  left: 50%;
  animation-duration: 10s;
}

.burbujas div:nth-child(5) {
  width: 55px;
  height: 50px;
  left: 65%;
  animation-duration: 6.5s;
}

.burbujas div:nth-child(6) {
  width: 50px;
  height: 48px;
  left: 85%;
  animation-duration: 9s;
}

.burbujas div:nth-child(7) {
  width: 35px;
  height: 32px;
  left: 90%;
  animation-duration: 6s;
}

@keyframes animarburbujas {
  0% {
    width: 0;
    height: 0;
  }
  3% {
    width: 30px;
    height: 27px;
  }
  50% {
    margin-left: 20px;
    opacity: 0.5;
  }
  100% {
    transform: rotate(90deg);
    bottom: 100vh;
    background-image: url(/imagenes/burbuja.png);
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center center;
  }
}